@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 .tag {
    font-family: "ClashGrotesk-Medium";
    @apply font-medium;
  }

  h1 {
    @apply text-[4rem] text-space-cadet;
  }
  h2 {
    @apply text-5xl text-space-cadet;
  }
  h3 {
    @apply text-[2.875rem];
  }
  h5 {
    @apply text-[1.75rem];
  }
  h6 {
    @apply text-[1.375rem];
  }
}

@layer components {
  .tag {
    font-family: "ClashGrotesk-Medium";
  }
}

.hero-img::before {
  content: url("/images/decor-(5).svg");
  position: absolute;
  top: 0;
  right: 0;
  width: 96px;
  height: 82px;
  transform: translate(50%, -50%);
}

.hero-img::after {
  content: url("/images/decor-(4).svg");

  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 96px;
  height: 82px;
  z-index: 0;
  transform: translate(-50%, 50%);
}
