@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 .tag {
    font-family: "ClashGrotesk-Medium";
    @apply font-medium;
  }

  h1 {
    @apply text-[2rem] md:text-[2.5rem] lg:text-[4rem] text-space-cadet;
  }
  h2 {
    @apply text-[1.5rem] md:text-[2rem] lg:text-5xl text-space-cadet;
  }
  h3 {
    @apply text-2xl lg:text-[2.875rem];
  }
  h5 {
    @apply text-2xl lg:text-[1.75rem];
  }
  h6 {
    @apply text-xl lg:text-[1.375rem];
  }

  p {
    @apply text-sm md:text-base;
  }

  label,
  input,
  select,
  textarea {
    @apply w-full;
  }

  input,
  textarea,
  select {
    @apply border-[0.95px] border-cultured p-4 rounded-lg  placeholder:text-[#BBBBBB] focus:outline-none focus:border-space-cadet focus:ring-0 text-space-cadet;
  }

  input,
  textarea {
    @apply bg-cultured;
  }

  label {
    @apply text-grey-slate text-sm mb-4 block;
  }

  form span {
    @apply block text-red-500 text-sm mt-0.5;
  }

  textarea {
    @apply min-h-[129px];
  }
}

@layer components {
  .tag {
    font-family: "ClashGrotesk-Medium";
  }
}

.hero-img::before {
  content: url("/images/decor-(5).svg");
  position: absolute;
  top: 0;
  right: 0;
  width: 96px;
  height: 82px;
  transform: translate(33%, -37%);

  @apply hidden lg:block;
}

.hero-img::after {
  content: url("/images/decor-(4).svg");

  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 96px;
  height: 82px;
  z-index: 0;
  transform: translate(-33%, 37%);

  @apply hidden lg:block;
}

.benefit-img::before {
  content: url("/images/decor-(5).svg");
  position: absolute;
  top: 0;
  right: 0;
  width: 96px;
  height: 82px;
  transform: translate(33%, -37%);

  @apply hidden lg:block;
}

.benefit-img::after {
  content: url("/images/decor-(4).svg");

  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 96px;
  height: 82px;
  z-index: 0;
  transform: translate(-33%, 37%);

  @apply hidden lg:block;
}
